body {
  font-family: 'Poppins', sans-serif;
  background-color: #15202b;
  font-weight: 300;
}

.margin-custom
{
   margin-left : 0.04rem;
   margin-right : 0.04rem;
}

.font-weight-500
{
  font-weight: 500;
}

.font-weight-300
{
  font-weight: 300;
}

.ps-custom {
  padding-left: 1.05rem !important;
}

.bg-custom {
  background-color: #15202b;
}

.font-size-xsmall {
  font-size: x-small;
}

.font-size-small
{
  font-size: small;
}

.profile-photo {
  width: 14rem;
}

progress {
  height: 0.44rem;
}

a {
  cursor: pointer;
}

.offcanvas-header-logo-padding{
  padding-left: .07rem!important;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #707a84;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: gray;
}


@media (min-width: 576px) {
  .w-c-sm-100 {
      width: 100% !important;
  }
}

@media (min-width: 768px) {
  .w-c-md-60 {
      width: 60% !important;
  }
  .text-justify{
    text-align: justify;
    text-justify: auto;
}
}

@media (min-width: 992px) {
  .w-c-lg-40 {
      width: 40% !important;
  }
}

@media (min-width: 1200px) {
  .w-c-xl-30 {
      width: 30% !important;
  }
}