<div class="position-relative" [ngClass]="{'dvh-100 overflow-hidden':loadingData()!='loaded'}">

    <div class="d-flex flex-column justify-content-center align-items-center position-absolute bg-custom z-2 w-100"
        style="transition: height 0.3s" [ngStyle]="{'height': loadingData()=='loaded'? '0dvh' : '100dvh' }">
        @if(loadingData()=='failed'){
        <div>No Posts Yet</div>
        <div class="text-x-small opacity-75">Stay tuned</div>
        }
        @else if(loadingData()=='loading'){
        <div class="loader" [ngStyle]="{'--loaderColor':'#fff'}"></div>
        }
    </div>

    <div [ngStyle]="{'margin-top': stateService.navHeight()+38+'px'}" class="container-fluid">
        <div class="row g-2 mb-1">
            <div class="col-6">
                @for (item of left(); track $index) {
                <div class="ratio mb-2" [style]="'aspect-ratio:'+ item.width/item.height">
                    <div class="placeholder-glow">
                        <div class="placeholder bg-custom-shade h-100 w-100 rounded-3"></div>
                    </div>
                    <img [src]="item.url" class="img-fluid rounded-3 glideUp" loading="lazy"
                        (click)="openCollectionItem(item.identifier)" (load)="onImgLoad($event)" />
                </div>
                }
            </div>

            <div class="col-6">
                @for (item of right(); track $index) {
                <div class="ratio mb-2" [style]="'aspect-ratio:'+ item.width/item.height">
                    <div class="placeholder-glow">
                        <div class="placeholder bg-custom-shade h-100 w-100 rounded-3"></div>
                    </div>
                    <img [src]="item.url" class="img-fluid rounded-3 glideUp" loading="lazy"
                        (click)="openCollectionItem(item.identifier)" (load)="onImgLoad($event)" />
                </div>
                }
            </div>
        </div>
    </div>

</div>