@use '@fontsource/poppins/500.css' as *;

.avatar-name {
  font-weight: 500;
}

.navbar-background {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background-color: rgb(17, 25, 34, 0.7);
  transform: translate3d(0, 0, 0);
}

@keyframes quiet {
  25% {
    transform: scaleY(.6);
  }

  50% {
    transform: scaleY(.4);
  }

  75% {
    transform: scaleY(.8);
  }
}

@keyframes normal {
  25% {
    transform: scaleY(1);
  }

  50% {
    transform: scaleY(.4);
  }

  75% {
    transform: scaleY(.6);
  }
}

@keyframes loud {
  25% {
    transform: scaleY(1);
  }

  50% {
    transform: scaleY(.4);
  }

  75% {
    transform: scaleY(1.2);
  }
}

.boxContainer {
  margin-left: 2px;
  height: 14px;
  --boxSize: 2px;
  --gutter: 3px;
  width: calc((var(--boxSize) + var(--gutter)) * 5);
}

.box {
  transform: scaleY(.4);
  height: 100%;
  width: var(--boxSize);
  background: #ffffff;
  animation-duration: 1.2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  border-radius: 8px;
}

.box1 {
  animation-name: quiet;
}

.box2 {
  animation-name: normal;
}

.box3 {
  animation-name: quiet;
}

.box4 {
  animation-name: loud;
}

.box5 {
  animation-name: quiet;
}

.fade-in {
  animation: fadeIn 0.4s ease-in forwards;
  opacity: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.song-name {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  /* Displays up to 3 lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
}