body {
  background-color: #15202b;
}

.ps-custom {
  padding-left: 1.05rem !important;
}

.bg-custom {
  background-color: #15202b;
}

#chatgpt {
  font-size: x-small;
}

.profile-photo {
  width: 14rem;
}

progress {
  height: 0.44rem;
}

a {
  cursor: pointer;
}

#project_search:focus {
  outline: none;
}


::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #707a84;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: gray;
}

@media (min-width: 576px) {
  .w-c-sm-100 {
      width: 100% !important;
  }
}

@media (min-width: 768px) {
  .w-c-md-60 {
      width: 60% !important;
  }

}

@media (min-width: 992px) {
  .w-c-lg-40 {
      width: 40% !important;
  }
}

@media (min-width: 1200px) {
  .w-c-xl-30 {
      width: 30% !important;
  }
}