<app-s-navbar />
<div [ngStyle]="{'margin-top': stateService.navHeight()+38+'px'}">
    <div class="p-3 fixed-bottom text-end">
        <button type="button" class="bg-custom-shade shadow-none border-0 rounded-circle"
            style="min-width: 3.2rem; min-height: 3.2rem;max-width: 3.2rem; max-height: 3.2rem;"
            data-bs-toggle="offcanvas" data-bs-target="#projectFilter" aria-controls="projectFilter">
            <svg width="23" height="23" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                <g id="SVGRepo_iconCarrier">
                    <path
                        d="M3 4.6C3 4.03995 3 3.75992 3.10899 3.54601C3.20487 3.35785 3.35785 3.20487 3.54601 3.10899C3.75992 3 4.03995 3 4.6 3H19.4C19.9601 3 20.2401 3 20.454 3.10899C20.6422 3.20487 20.7951 3.35785 20.891 3.54601C21 3.75992 21 4.03995 21 4.6V6.33726C21 6.58185 21 6.70414 20.9724 6.81923C20.9479 6.92127 20.9075 7.01881 20.8526 7.10828C20.7908 7.2092 20.7043 7.29568 20.5314 7.46863L14.4686 13.5314C14.2957 13.7043 14.2092 13.7908 14.1474 13.8917C14.0925 13.9812 14.0521 14.0787 14.0276 14.1808C14 14.2959 14 14.4182 14 14.6627V17L10 21V14.6627C10 14.4182 10 14.2959 9.97237 14.1808C9.94787 14.0787 9.90747 13.9812 9.85264 13.8917C9.7908 13.7908 9.70432 13.7043 9.53137 13.5314L3.46863 7.46863C3.29568 7.29568 3.2092 7.2092 3.14736 7.10828C3.09253 7.01881 3.05213 6.92127 3.02763 6.81923C3 6.70414 3 6.58185 3 6.33726V4.6Z"
                        stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                </g>
            </svg>
        </button>
    </div>

    @for (item of projectData; track $index) {

    @if(item.show){
    <div class="ratio ratio-16x9">
        <iframe src="https://www.youtube.com/embed/oM_OFNmkt5A?si=gFNPFN1aqP95sDOS" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    }
    @else {
    <div class="position-relative">
        <div class="position-absolute z-1 end-0 d-flex gap-2 m-2">
            @for (stack of item.tech_stack; let i = $index; track i) {
                <div class="px-2 py-1 bg-white rounded-1 text-xx-small text-dark font-w-500">{{stack}}</div>
            }
        </div>
        <div class="px-2 py-1 bg-white rounded-1 text-xx-small text-dark mx-2 position-absolute z-1 font-w-500" style="top: 88.1%;">{{item.type}}</div>
        <div class="position-absolute z-1 start-50 top-50 translate-middle">
            <button class="btn border-0 shadow-none" (click)="item.show=!item.show">
                <svg width="25" height="25" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                    <g id="SVGRepo_iconCarrier">
                        <path
                            d="M21.4086 9.35258C23.5305 10.5065 23.5305 13.4935 21.4086 14.6474L8.59662 21.6145C6.53435 22.736 4 21.2763 4 18.9671L4 5.0329C4 2.72368 6.53435 1.26402 8.59661 2.38548L21.4086 9.35258Z"
                            fill="#ffffff"></path>
                    </g>
                </svg>
            </button>
        </div>
        <img src="l7hGtIzGRRM-HD.jpg" loading="lazy" class="img-fluid glideUp z-n1" (load)="onImgLoad($event)" />
    </div>
    }

    <div class="p-3 pt-2 mb-3" (click)="openProject(item.routeName)">
        <div class="font-w-500 mb-1">
            {{item.project_name}}
        </div>
        <div class="text-muted text-small project-desc">
            {{item.project_description}}
        </div>
    </div>
    }

</div>

<!-- <div class="offcanvas offcanvas-bottom bg-custom rounded-top-4 h-90 text-small" tabindex="-1" id="projectFilter"
    aria-labelledby="projectFilter">
    <div class="offcanvas-header p-3 border-bottom">
        <div class="font-w-500" id="offcanvasLabel">Filters</div>
        <button type="button" class="btn-close shadow-none" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body p-0 d-flex border-bottom">
        <div class="border-end sticky-top">
            <div class="p-3 border-bottom bg-custom-shade">Domain</div>
            <div class="p-3 border-bottom">Language</div>
        </div>
        <div class="m-2">
            What is Lorem Ipsum?
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
            scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
            electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of
            Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like
            Aldus PageMaker including versions of Lorem Ipsum.

            Why do we use it?
            It is a long established fact that a reader will be distracted by the readable content of a page when
            looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of
            letters, as opposed to using 'Content here, content here', making it look like readable English. Many
            desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a
            search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved
            over the years, sometimes by accident, sometimes on purpose (injected humour and the like).


            Where does it come from?
            Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical
            Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at
            Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem
            Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable
            source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes
            of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular
            during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in
            section 1.10.32.

            The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections
            1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact
            original form, accompanied by English versions from the 1914 translation by H. Rackham.

            Where can I get some?
            There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in
            some form, by injected humour, or randomised words which don't look even slightly believable. If you are
            going to use a passa
        </div>
    </div>
    <div class="p-3 d-flex justify-content-end">
        <button class="btn btn-outline-secondary me-2 px-3 btn-sm">
            Clear
        </button>
        <button class="btn bg-custom-shade btn-sm px-3">
            Show
        </button>
    </div>
</div> -->