body {
  font-family: "Poppins", sans-serif;
  background-color: #15202b;
  font-weight: 300;
}

.margin-custom {
  margin-left: 0.04rem;
  margin-right: 0.04rem;
}

.font-weight-500 {
  font-weight: 500;
}

.c-row{
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-.5 * var(--bs-gutter-x));
  margin-left: calc(-.5 * var(--bs-gutter-x));
}

.font-weight-300 {
  font-weight: 300;
}

.btn-padding{
  padding-left: 0.75rem;
}

.bg-custom {
  background-color: #15202b;
}

.font-size-xsmall {
  font-size: x-small;
}

.font-size-small {
  font-size: small;
}

.profile-photo {
  width: 14rem;
}

progress {
  height: 0.44rem;
}

a {
  cursor: pointer;
}

.offcanvas-header-logo-padding {
  padding-left: 0.07rem !important;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #707a84;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: gray;
}

@media (min-width: 576px) {
  .w-c-sm-100 {
    width: 100% !important;
  }
}

@media screen and (max-width: 576px) {
  .px-c-0 {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (min-width: 768px) {
  .w-c-md-70 {
    width: 70% !important;
  }
  .text-justify {
    text-align: justify;
    text-justify: auto;
  }
}

@media (min-width: 992px) {
  .w-c-lg-55 {
    width: 55% !important;
  }
}
@media (min-width: 1200px) {
  .w-c-xl-40 {
    width: 40% !important;
  }
}

.declare {
  height: 231px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
